// styles.scss
@import 'dashboard/styles.scss';
@import 'dashboard/hambar/styles.scss';
@import 'home/styles.scss';
@import 'home/navbar/styles.scss';
@import 'login/styles.css';
@import 'orders/styles.scss';

* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

body{
  margin: auto;
  top: 0;
  background-color: #f4f3ef;
}
.vl{
  border: 0;
  width: 2px;
  margin: 17px 0px 17px 0px;
  background-image: linear-gradient(to bottom, transparent, #CCC, transparent);
}

.hl{
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #CCC, transparent);
}

.root-container{
  display: flex;
}
.app-container{
  flex: 77%;
  display: flex;
  flex-direction: column;
}
.body-container{
  flex: 91;
  background-color:  rgba(221, 221, 221, 0.624);
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

