.order-table-container{
    margin: 10vh 10vh 10vh 10vh;
}

table{
    display: table;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
.order-table { 
    border-collapse:collapse ;
    background-color: #fff;
    width: 100%;
    thead  {
        border-bottom: 1px solid #ededed;
        color: rgb(100, 100, 100);
        font-size: 15px;
    } 
    tr th thead{
        background-color: #fff;
        border: none;
        color: #999;
        padding: var(--space-md);
    }
    th{
        display: table-cell;
        text-align: center;
    }
    td {
        text-align: center;
        padding: 23px 10px 10px 10px;
        font-size: 13px;
    }

    tr {
        border-bottom: 0.3px solid rgb(157, 102, 176);
    }


    
}

.table-container{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
    text-align: end;
}



.odd{
    background-color: white;
}

.even{
    background-color: rgba(219, 232, 221, 0.624);
    //221, 221, 221, 0.624
}


.date-picker{
    font-size: 14px;
    padding: 4px 11px 4px;
    position: relative;
    display: inline-flex;
    &:hover{
        transition: #57135a 0.3s, box-shadow 0.3s;
    }
    input{
        margin-right: 15px;
    }  

    margin-bottom: 30px;
    
}
