.container{
    height: 100vh;
    background: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, transparent, #0F4C5C, transparent);
  }

  .login-container{
    width: 400px;
    height: 250px;
}
.login-form{
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.login-form-input{
    text-align: center;
    width: 250px;
    height: 20px;
    color: black;
    border-style: unset;
    border-radius: 8px;
    margin-bottom: 9px;
    font-size: 14px;
}

.login-form-btn{
    background-image: linear-gradient(to top, #FFB703, transparent);
    width: 255px;
    height: 25px;
    border-radius: 7px;
    border-style: unset;
    color: white;
    font-size: 15px;
    font-weight: bold;
}