.login-container{
    background-color: #0F4C5C;
    width: 400px;
    height: 250px;
}
.login-form{
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.login-form-input{
    text-align: center;
    width: 250px;
    height: 20px;
    color: black;
    border-style: unset;
    border-radius: 8px;
    margin-bottom: 9px;
    font-size: 14px;
}

.login-form-btn{
    background-color: #FFB703;
    width: 255px;
    height: 25px;
    border-radius: 7px;
    border-style: unset;
    color: white;
    font-size: 15px;
    font-weight: bold;
}